body{
    width: 100%;
margin: auto;
font-family: 'Gill Sans' ;
color: rgb(48, 46, 209);

text-align: center;
}


h4{
    font-family: 'Trebuchet MS';
    color: rgb(25, 143, 197);
    font-size: 30px;
}

h2{
    font-family:'Gill Sans MT';
    color: rgb(6, 77, 27);
    font-size: 30px;

}

h1{
    font-family: 'sans-serif';
    color: rgb(218, 231, 27);
    font-size: 30px;

}

main{
    background:#000000;
}